@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Group 12</h3>

    <address>
        Located at Mizzou
    </address>

    <address>
        <strong>Nolan Park:</strong>   <a href="mailto:njpmcb@umsystem.edu">njpmcb@umsystem.edu</a><br />
        <strong>Evan Trejo:</strong>   <a href="mailto:eetwyb@missouri.edu">eetwyb@missouri.edu</a><br />
        <strong>Nick Sullivan:</strong>   <a href="mailto:nksc9d@missouri.edu">nksc9d@missouri.edu</a><br />
        <strong>Esey Abraha:</strong> <a href="mailto:edakbm@missouri.edu">edakbm@missouri.edu</a>
    </address>
</main>